@keyframes a {
  from {
    transform: scale(1.0);
  } to {
    transform: scale(1.1);
  }
}

body {
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 5em;
  font-family: Aladin;
}

h2 {
  font-family: Pacifico;
}

h3 {
  font-family: Merienda;
}

.content {
  background-color: rgba(80, 80, 80, 0.75);
}

button:hover {
  animation-fill-mode: forwards;
  animation-name: a;
  animation-duration: 1s;
}